[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
environs = "*"
django-cors-headers = "*"
langchain-community = "*"
djangorestframework-xml = "*"

[dev-packages]

[requires]
python_version = "3.12"
